.form__input {
    border: unset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    width: 100%;
    outline: none;
}
