.btn {
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    border: none;
}

.btn:hover {
    opacity: 0.6;
}