.popup__close-btn {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close.svg);
    background-size: contain;
    position: absolute;
    right: -40px;
    top: -40px;
    box-sizing: border-box;
}

@media screen and (max-width: 911px){
    .popup__close-btn {
        width: 20px;
        height: 20px;
        right: 0;
        top: -35px;
    }
}